.stages {
  padding: 100px 0 0 0;

  @media (max-width: 375px) {
    padding: 60px 0 0 0;
  }

  &__header {}

  &__main {
    margin-top: 54px;

    @media (max-width: 375px) {
      margin-top: 148px;
    }
  }
}