<div class="members">
  <div class="container">
    <div class="members__wrapper">

      <div class="members__title">
        <h2>Участники турнира</h2>
      </div>

      <div class="members__main">

        <div class="members__main-card members__main-card_active">
          <div>
            <img src="../images/members_card-img.webp" alt="Man with chess, vector">
          </div>
          <p>Хозе-Рауль Капабланка</p>
          <span>Чемпион мира по шахматам</span>
          <a href="#!">Подробнее</a>
        </div>

        <div class="members__main-card members__main-card_active">
          <div>
            <img src="../images/members_card-img.webp" alt="Man with chess, vector">
          </div>
          <p>Эммануил Ласкер</p>
          <span>Чемпион мира по шахматам</span>
          <a href="#!">Подробнее</a>
        </div>

        <div class="members__main-card members__main-card_active">
          <div>
            <img src="../images/members_card-img.webp" alt="Man with chess, vector">
          </div>
          <p>Александр Алехин</p>
          <span>Чемпион мира по шахматам</span>
          <a href="#!">Подробнее</a>
        </div>

        <div class="members__main-card">
          <div>
            <img src="../images/members_card-img.webp" alt="Man with chess, vector">
          </div>
          <p>Арон Нимцович</p>
          <span>Чемпион мира по шахматам</span>
          <a href="#!">Подробнее</a>
        </div>

        <div class="members__main-card">
          <div>
            <img src="../images/members_card-img.webp" alt="Man with chess, vector">
          </div>
          <p>Рихард Рети</p>
          <span>Чемпион мира по шахматам</span>
          <a href="#!">Подробнее</a>
        </div>

        <div class="members__main-card">
          <div>
            <img src="../images/members_card-img.webp" alt="Man with chess, vector">
          </div>
          <p>Остап Бендер</p>
          <span>Чемпион мира по шахматам</span>
          <a href="#!">Подробнее</a>
        </div>     

      </div>

      <div class="members__controls">

        <button id="members__leftBtn">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
            <circle cx="22" cy="22" r="22" transform="rotate(-180 22 22)" fill="#313131" />
            <path d="M24.5382 30.4614L16.0767 21.9999L24.5382 13.5384" stroke="white" stroke-width="2"
              stroke-linecap="square" />
          </svg>
        </button>

        <div>
          <p id="members__currentSlide">1</p>
          <span>/</span>
          <p id="members__totalSlide">6</p>
        </div>

        <button id="members__rightBtn">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
            <circle cx="22" cy="22" r="22" fill="#313131" />
            <path d="M19.4618 13.5383L27.9233 21.9999L19.4618 30.4614" stroke="white" stroke-width="2"
              stroke-linecap="square" />
          </svg>
        </button>

      </div>

    </div>
  </div>
</div>