<div class="support">
  <div class="container">
    <div class="support__wrapper">

      <div class="support__header">
        <div class="">
          <p>Чтобы поддержать Международный васюкинский турнир </p>
          <img src="../images/support_header_image.webp" alt="People play chess">
          <p>посетите лекцию на тему: <span>«Плодотворная дебютная идея»</span></p>
        </div>
      </div>

      <div class="support__main">

        <div class="support__main-imageWrap">
          <img src="../images//support_main_image.webp" alt="Man play chess">
        </div>

        <div class="support__main-textWrap">

          <div class="support__main-header">
            <p>и Сеанс <span>одновременной игры в шахматы на 160 досках</span> гроссмейстера О. Бендера</p>
          </div>

          <div class="support__main-content">

            <div class="support__main-content-row">
              <div class=""><p>Место проведения:</p></div>
              <div class=""><p>Клуб «Картонажник»</p></div>
            </div>

            <div class="support__main-content-row">
              <div class=""><p>Дата и время мероприятия:</p></div>
              <div class=""><p>22 июня 1927 г. в 18:00</p></div>
            </div>

            <div class="support__main-content-row">
              <div class=""><p>Стоимость входных билетов:</p></div>
              <div class=""><p>20 коп.</p></div>
            </div>

            <div class="support__main-content-row">
              <div class=""><p>Плата за игру:</p></div>
              <div class=""><p>50 коп.</p></div>
            </div>

            <div class="support__main-content-row">
              <div class=""><p>Взнос на телеграммы:</p></div>
              <div class=""><p>100 руб.</p><p>21 руб. 16 коп.</p></div>
            </div>
          </div>

          <div class="support__main-footer">
            <p>По всем вопросам обращаться в администрацию к К. Михельсону</p>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>